Whatsapp bot-with AI.json
{
  "name": "Whatsapp bot-with AI",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        40,
        20
      ],
      "id": "e753d6c4-5e38-4f13-898e-65737703e37e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -80,
        20
      ],
      "id": "3ab79e4a-9975-4cb8-bf55-7d5a4a8287cc",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "FD9MpmzUxYCa57V0",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "=You are a helpful assistant Tomy.\nRespond in natural and friendly tone\nYou are currenty talking to {{ $json.contacts[0].profile.name }}\nCurrent date and time is {{ $now.toISO() }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -80,
        -200
      ],
      "id": "30862989-1372-46cf-8a9c-c6c50e20cdb0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "712388125287293",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        540,
        -180
      ],
      "id": "ef04bc25-526d-47ce-9926-a9872ce180fd",
      "name": "Send message",
      "webhookId": "0a2868e3-c1d8-4fb0-acee-e2c1fa840d73",
      "credentials": {
        "whatsAppApi": {
          "id": "KE7LFyaew1pf0Nkf",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -440,
        -180
      ],
      "id": "8b00fd8a-ae39-4ba2-8a19-bff4a6c7c802",
      "name": "WhatsApp Trigger",
      "webhookId": "228f08d1-6b74-4247-af8d-525fd1bfe553",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "6N00ISEe6H76Qi5a",
          "name": "WhatsApp OAuth account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2ebdd43f-bbdb-4f3e-a728-e89cf2f10452",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bf9bd6618f46f39e3bf9a9adad593066a74b97906efb5880eb166312cdcb1968"
  },
  "id": "xw2gqV7nOA5CEwfi",
  "tags": []
}